<%= turbo_frame_tag "task-search-results" do %>
  <div data-time-entry-form-target="autoSelectSlot"
       data-task-id="<%= @task.id %>"
       data-task-title="<%= @task.title %>">
  </div>
<% end %>
