<%= turbo_stream.replace "time-entry-form-wrapper" do %>
  <div class="max-w-lg">
    <%= render 'form', date: @date %>
  </div>
<% end %>

<%= turbo_stream.update "time-entries-log" do %>
  <%= render 'log', log_entries: @log_entries %>
<% end %>
