<div class="flex items-center justify-between mb-6">
  <h1 class="text-xl font-semibold">Log Time</h1>
</div>

<% if @error %>
  <p class="mb-4 text-sm text-red-600"><%= @error %></p>
<% end %>

<div data-controller="time-entry-form">
  <div id="time-entry-form-wrapper" class="max-w-lg">
    <%= render 'form', date: @date %>
  </div>

  <div id="time-entries-log" class="mt-8">
    <%= render 'log', log_entries: @log_entries %>
  </div>
</div>
